


#Overskrift {
    border: none;
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #LightOff {
    background-color: white;
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
  }

  #Hastighetknapp{ 
    border-radius: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border: none;
    color: white;
    font-family: Avenir, Arial, sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    background: red;
    text-shadow: 0 3px 1px rgba(122,17,8,.8);
    box-shadow: 0 8px 0 rgb(183,9,0), 
      0 15px 20px rgba(0,0,0,.35);
    text-transform: uppercase;
    transition: .4s all ease-in;
    outline: none; 
    cursor: pointer;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  #ResetButton{
      border-radius: 50%; 
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      height: 100px;
      border: none;
      color: white;
      font-family: Avenir, Arial, sans-serif;
      font-weight: 900;
      font-size: 1.25rem;
      background: red;
      text-shadow: 0 3px 1px rgba(122,17,8,.8);
      box-shadow: 0 8px 0 rgb(183,9,0), 
        0 15px 20px rgba(0,0,0,.35);
      text-transform: uppercase;
      transition: .4s all ease-in;
      outline: none; 
      cursor: pointer;
      text-align: center;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    
  }
  
  #ModeName{
    text-align: center;
    font-size:2rem;
    color: white;
    font-family: Avenir, Arial, sans-serif;
  }
 
  #ButtonLeft{
    cursor: pointer;
    background-color: #007fff; 
    display:inline-block;
    border: none;
    margin-left: 10% ;
  }

  #ButtonRight{
    margin-right: 10% ;
    cursor:pointer;
    background-color: #007fff; 
    display:inline-block;
    border: none;
  }


  body {
    background-color: #007fff;
  }

  .central {
  display: flex;
  justify-content: center;
}

#RGBSlider{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0px;
  text-align: center;
}

.TicTacToeRow{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0px;
  text-align: center;
  border: none;
}

#PlayerActiveText{
  text-align: center;
  font-size:2rem;
  color: white;
  font-family: Avenir, Arial, sans-serif;
}

#A1{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}
#A2{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}
#A3{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}

#B1{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}
#B2{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}
#B3{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}

#C1{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}
#C2{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}
#C3{
  list-style: none;
  border: none;
  width: 40%;
  height: 40%;
}

#LightsTicTacToe{
  list-style: none;
  border: none;
}

.btn{
  background-color: white;
}

#RGBNavn{
  list-style: none;
  text-align: center;
  color: white;
  font-family: Avenir, Arial, sans-serif;
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 15%;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%; 
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  cursor: pointer;
}


  