


#Overskrift {
    border: none;
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #LightOff {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
  }

  #Hastighetknapp{ 
    border-radius: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border: none;
    color: white;
    font-family: Avenir, Arial, sans-serif;
    font-weight: 900;
    font-size: 1.25rem;
    background: red;
    text-shadow: 0 3px 1px rgba(122,17,8,.8);
    box-shadow: 0 8px 0 rgb(183,9,0), 
      0 15px 20px rgba(0,0,0,.35);
    text-transform: uppercase;
    transition: .4s all ease-in;
    outline: none; 
    cursor: pointer;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  button span { position: relative; }
 
  .pressed { 
    padding-top: 3px;
    transform: translateY(4px);
    box-shadow: 0 4px 0 rgb(183,0,0),
      0 8px 6px rgba(0,0,0,.45);
  }

  body {
    background-color: #007fff;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  #dropdownBtn{
    border:none;
    border-radius:2px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
  }
  
  #dropdownBtn:hover{
    background-color:#ddd;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:2px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  